body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  height: 100%;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 371px;
}

input {
  width: 270px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 0px;
}

input:hover {
  border: 1px solid #000000;
}

.form-btn {
  color: #ffffff;
  background-color: #4e75ff;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.gallery-item {
  list-style: none;
  margin: 0px;
  width: 300px;
  height: 220px;
  border: 1px solid #808080;
}

.gallery-image {
  display: block;
  width: 300px;
  height: 172px;
}

.gallery-wrapper {
  width: 300px;
  height: 48px;
  padding: 0px;
}

.gallery-group {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 27px;
  padding-left: 20px;
  padding-right: 25px;
}

.gallery-subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #2e2f42;
  margin-top: 4px;
  margin-bottom: 0px;
  text-align: center;
}

.gallery-txt {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  margin-top: 0px;
  margin-bottom: 4px;
  text-align: center;
}

.loader {
  width: 100px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l4 2s infinite steps(6);
}
@keyframes l4 {
  100% {
    background-size: 120%;
  }
}

.hidden {
  display: none;
}

.gallery-btn {
  color: #ffffff;
  background-color: #4e75ff;
  width: 125px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
