* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}
.js-load-btn {
  margin-bottom: 36px;
}

.js-load-btn.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  box-sizing: border-box;
  animation: zeroRotation 1s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  right: 0;
  transform: translate(50%, 100%);
}

@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(0) rotate(360deg);
  }
}

.js-loader.hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 0 32px 0;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: auto;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-info {
  padding: 5px;
  background-color: #fff;
  font-size: 14px;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  width: 100%;
}

.text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.text-value {
  margin: 0;
  font-size: 12px;
  color: #2e2f42;
}
